<%inherit file="../main.html" />
<%namespace name='static' file='../static_content.html'/>
<%!
    from django.utils.translation import ugettext as _
    from courseware.courses import get_course_info_section
%>

<%block name="pagetitle">${_("{course_number} Autour de moi").format(course_number=course.display_number_with_default)}</%block>

<%block name="headextra">
    <%static:css group='style-course-vendor'/>
    <%static:css group='style-course'/>
</%block>

<%include file="/courseware/course_navigation.html" args="active_page='around_me'" />

<%block name="bodyclass">view-incourse view-course-info ${course.css_class or ''}</%block>
<div class="container">
    <div class="aroundme-wrapper">
        <div class="around-me">
            <header class="around-me-header">
                <h1>Autour de moi</h1>
                <p class="message">Trouvez et contactez des inscrits au cours résidant à proximité de chez vous afin de travailler avec eux.</p>
                <p class="note">En écrivant à un étudiant de SINOD, vous acceptez que lui soit communiquée votre adresse email pour qu’il vous réponde. En cas d’absence de réponse, merci de ne pas insister.<br> 
                Pour être visible dans la liste ci-dessous, veillez à ce que vos informations de profil soient renseignées et que les utilisateurs de SINOD soient en mesure de visualiser votre <strong>Profil Complet</strong> <a href="#" data-toggle="modal" data-target="#helper-modal">(Aide)</a>. 
                </p>
            </header>
            <form class="around-me-form">
                <div class="country-section">
                    <div class="form-group">
                        <label class="form-label">Sélectionnez un Pays</label>
                        <select class="form-control" name="country" id="country-select">
                            % for country in countries:
                            % if country[0] == selected_country:
                            <option value="${country[0]}" selected="selected">${country[1]}</option>
                            % else:
                            <option value="${country[0]}">${country[1]}</option>
                            % endif
                            % endfor
                        </select>
                    </div>
                </div>
                <div class="search-section">
                    <div class="form-group">
                        <label class="sort-city">Affiner la recherche</label>
                        <input class="form-control" type="text" name="query" placeholder="Ville ou Nom d'utilisateur" value="${query}">
                    </div>
                    <div class="form-button">
                        <button class="search-btn" type="submit">Filtrer</button>
                    </div>
                </div>
                <div class="sort-options">
                    <div class="form-group">
                        <label class="sort-city">Trier par</label>
                        <select name="sort" class="form-control" id="sort-select">
                            % if sort_pref == 'city':
                            <option value="username">Nom d'utilisateur</option>
                            <option value="city" selected>Ville</option>
                            % else:
                            <option value="username" selected>Nom d'utilisateur</option>
                            <option value="city">Ville</option>
                            % endif
                        </select>
                    </div>
                </div>
            </form>
            % if not users:
                <div>Désolé, il n’y a pas d’étudiant pour votre recherche.</div>
            % else:
                <div class="user-data">
                    % for user in users:
                        <div class="user-item">
                            <div class="user-header">
                               <img src="${user.get('profile_pic')}"/>
                            </div>
                            <div class="user-details">
                                <h3 class="username">${user.get('username')}</h3>
                                <p class="city">${user.get('city')}</p>
                            </div>
                            <div class="user-actions">
                                <a href="#" data-toggle="collapse" data-target="#${user.get('username')}-bio" class="show-data">Voir plus...</a>
                                <a href="#" class="contact-user" data-username="${user.get('username')}">Contacter</a>
                            </div>
                           <div class="collapse" id="${user.get('username')}-bio">
                                <p class="bio">${user.get('bio')}</p>
                           </div>
                        </div>
                    % endfor
                </div>
            % endif
            <div id="loader" style="display: none;"><div style="text-align:center;padding:10px 0; color:#999;"
            ><img src="data:image/gif;base64,R0lGODlhEAALAPQAAP///zMzM+Li4tra2u7u7jk5OTMzM1hYWJubm4CAgMjIyE9PT29vb6KiooODg8vLy1JSUjc3N3Jycuvr6+Dg4Pb29mBgYOPj4/X19cXFxbOzs9XV1fHx8TMzMzMzMzMzMyH5BAkLAAAAIf4aQ3JlYXRlZCB3aXRoIGFqYXhsb2FkLmluZm8AIf8LTkVUU0NBUEUyLjADAQAAACwAAAAAEAALAAAFLSAgjmRpnqSgCuLKAq5AEIM4zDVw03ve27ifDgfkEYe04kDIDC5zrtYKRa2WQgAh+QQJCwAAACwAAAAAEAALAAAFJGBhGAVgnqhpHIeRvsDawqns0qeN5+y967tYLyicBYE7EYkYAgAh+QQJCwAAACwAAAAAEAALAAAFNiAgjothLOOIJAkiGgxjpGKiKMkbz7SN6zIawJcDwIK9W/HISxGBzdHTuBNOmcJVCyoUlk7CEAAh+QQJCwAAACwAAAAAEAALAAAFNSAgjqQIRRFUAo3jNGIkSdHqPI8Tz3V55zuaDacDyIQ+YrBH+hWPzJFzOQQaeavWi7oqnVIhACH5BAkLAAAALAAAAAAQAAsAAAUyICCOZGme1rJY5kRRk7hI0mJSVUXJtF3iOl7tltsBZsNfUegjAY3I5sgFY55KqdX1GgIAIfkECQsAAAAsAAAAABAACwAABTcgII5kaZ4kcV2EqLJipmnZhWGXaOOitm2aXQ4g7P2Ct2ER4AMul00kj5g0Al8tADY2y6C+4FIIACH5BAkLAAAALAAAAAAQAAsAAAUvICCOZGme5ERRk6iy7qpyHCVStA3gNa/7txxwlwv2isSacYUc+l4tADQGQ1mvpBAAIfkECQsAAAAsAAAAABAACwAABS8gII5kaZ7kRFGTqLLuqnIcJVK0DeA1r/u3HHCXC/aKxJpxhRz6Xi0ANAZDWa+kEAA7" alt=""><br>Chargement en cours...</div></div>
            <div class="modal fade" id="contact-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                    aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="myModalLabel">Envoyer un message à  </h4>
                        </div>
                        <div class="modal-body">
                            <textarea id="message-text" class="form-control" rows="7" placeholder="Saisir votre message ici..." required></textarea>
                        </div>
                        <div class="modal-footer">
                            <div class="row">
                                <div class="col-xs-12">
                                    <a href="#" class="send-meesage button-disabled">Envoyer</a>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12">
                                    <p class="disclaimer">En cliquant sur Envoyer vous autorisez SINOD à communiquer votre adresse email à <span class="username"></span></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal fade" id="success-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                    aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="myModalLabel">Confirmation</h4>
                        </div>
                        <div class="modal-body">

                        </div>
                    </div>
                </div>
            </div>
            <div class="modal fade" id="helper-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                    aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="myModalLabel">Aide - Autour de moi</h4>
                        </div>
                        <div class="modal-body">
                            <div class="row">
                              <div class"col-xs-12"="">
                                <p>1. Complétez vos <a href="/account/settings" target="new">Paramètres Utilisateurs <i class="fa fa-external-link"></i></a></p>
                                <p>2. Modifiez votre Profil et présentez-vous</p>
                                <img style="height:120px;" src="${static.url('themes/{theme_name}/images/aroundme_help_1.jpg'.format(theme_name=settings.THEME_NAME))}">
                                <p>3. Indiquez votre Profil comme <strong>Complet</strong></p>
                                <img style="height:60px;" src="${static.url('themes/{theme_name}/images/aroundme_help_2.jpg'.format(theme_name=settings.THEME_NAME))}">
                              </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal fade" id="error-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                    aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="myModalLabel">Désolé</h4>
                        </div>
                        <div class="modal-body">
                            Une erreur est survenue.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<%block name="js_extra">
    <script type="text/javascript"  src="${static.url('js/aroundme/underscore-min.js')}"></script>
    <script type="text/template" id="user-box-tpl">
        <%static:include path="aroundme/user-box.tpl.underscore" />
    </script>
    <script type="text/javascript" charset="utf-8">
        $(document).ready(function () {
            $(".send-meesage").addClass('button-disabled');
            window.current_course_id = '${course_id}';
            window.page = 2;
            window.inAjax = false;
            window.disableLoad = false;
            $('#sort-select, #country-select').change(function(e){
                $(this).closest('form').trigger('submit');
            });
            unbindUserActions = function(){
                $('.contact-user').unbind('click');
                $('.show-data').unbind('click');
            };
            window.bindUserActions = function() {
                $('.contact-user').click(function (e) {
                    e.preventDefault();
                    $('#contact-modal textarea').val('');
                    var username = $(e.currentTarget).data('username');
                    $('span.username').text(username);
                    $('#contact-modal .modal-title').text('Envoyer un message à ' + username);
                    $('#contact-modal textarea').data('username', username);
                    $('#contact-modal').modal('show')
                });
                $('.show-data').click(function (e) {
                    e.preventDefault();
                    current = e.currentTarget;
                    var id = $(e.currentTarget).data('target');
                    classes = $(id).attr('class');
                    if (classes.indexOf('collapse in') != -1) {
                        $(current).text("Voir plus");
                    } else {
                        $(current).text("Masquer");
                    }
                });
                $("#message-text").on("change input paste keyup", function() {
                    if ($("#message-text").val()) {
                        $(".send-meesage").removeClass('button-disabled');
                    } else {
                        $(".send-meesage").addClass('button-disabled');
                    }
                });
            };
            $('.send-meesage').click(function (e) {
                e.preventDefault();
                username = $('#contact-modal textarea').data('username');
                message = $('#contact-modal textarea').val();
                if (message.length > 0) { 
                  $.post(
                          "/aroundme/"+ window.current_course_id + "/sendmessage",
                          {"username": username, "message": message}
                  )
                          .done(function (msg) {
                              $('#contact-modal').modal('hide');
                              if (msg.success) {
                                  $('#success-modal .modal-body').text('Message envoyé à ' + username);
                                  $('#success-modal').modal('show');
                              } else {
                                  $('#error-modal').modal('show');
                              }
                          })
                          .fail(function () {
                              $('#contact-modal').modal('hide');
                              $('#error-modal').modal('show');
                          });
                  }; 
            });
            % if users:
                $(window).scroll(function() {
                   if($(window).scrollTop() + $(window).height() == $(document).height() && !window.disableLoad) {
                       if(!window.inAjax) {
                           window.inAjax = true;
                           $('#loader').show();
                           var query = "${query}";
                           var url = "";
                           if(query != "") {
                               url = '/courses/' + window.current_course_id + '/aroundme/users?country=${selected_country}&sort=${sort_pref}&query=${query}&page=' + window.page;
                           } else {
                               url = '/courses/' + window.current_course_id + '/aroundme/users?country=${selected_country}&sort=${sort_pref}&page=' + window.page;
                           }
                           $.get(url, function (data) {
                               var template = _.template(
                                       $("script#user-box-tpl").html()
                               );
                               $('.user-data').append(template(data))
                               window.page += 1;
                               window.unbindUserActions();
                               window.bindUserActions();
                               if(data.last_page) {
                                   window.disableLoad = true
                               }
                           }).always(function() {
                               window.inAjax = false;
                               $('#loader').hide();
                           });
                       }
                   }
                });
            % endif
            window.bindUserActions();
        });
    </script>
</%block>
